@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared-style */
.display-flex {
    display: flex;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;

}

.section-tittle {
    font-size: 3rem;
    font-weight: bold;
}

.btn-primary {

    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {

    margin-top: 130px;
}

/* header-style */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav-bar-style */
.navbar {

    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar,
.banner {

    max-width: 1440px;
    margin: 0 auto;

}

/* banner related style */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-tittle {

    font-size: 4rem;
    font-weight: bold;

}

.banner-img {
    width: 100%;
}

/* team and feature related styles */
.teams {
    align-items: center;
    gap: 64px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature {
    max-width: 537px;
}

.feature-tittle {
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list {
    font-weight: 500;
}

#features {
    display: block;
    color: #FF900E;
}

/* features related styles */
.features{
    gap: 146px;
}
.features-detail .section-tittle{

    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.features-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.features-card-tittle{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

#exprience-badge{

    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -77px;
    margin-left: -77px;
}
#exprience-year{
    font-size: 4rem;
    font-weight: bold;
}
.features-image img{
        width: 100%;
    }

/* some facts related styles */
.facts-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.facts-number {

    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.facts-name {
    margin-top: 5px;
    font-size: 1.25rem;
    font-weight: 500;
}

.facts-description {
    width: 540px;
    margin-bottom: 100px;
}

/* our sponsor related styles */
.sponsors-info {

    width: 540px;
    margin: 0 auto;
    text-align: center;
}

.sponsors-img-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}

.sponsors-img-container img {

    filter: grayscale(100%);
}

/* footer related styles */
footer{
    max-width: 1440px;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin: 130px auto;
    
}
footer p{

    text-align: center;
    padding: 39px ;

}

/* responsive media quarry for small device */

@media screen and (max-width:576px) {

    .navbar,
    .navbar-links,
    .teams ,
    .features{

        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsors-img-container {

        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container,
    .sponsors-img-container {
        justify-items: center;
        gap: 24px;
    }

    .facts-description,
    .sponsors-info {

        width: 100%;
    }
    
    .sponsors-img-container {

        gap: 50px;
    }
    .some-facts {
        text-align: center;
    }

    .facts-description {
        width: 100%;
        margin-bottom: 100px;
    }
    #exprience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}


/* responsive media quarry for medium device */
@media screen and (min-width:576px) and (max-width:992px) {

    .teams ,.features{
        flex-direction: column;

    }

    .our-feature {
        margin-left: 7%;
        margin-right: 7%;
    }

    .sponsors-img-container,
    .facts-container,
    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    .some-facts {
        text-align: center;
    }

    .facts-description {
        width: 540px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
     #exprience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

}